*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif, 'Times New Roman', Times, serif, Verdana, Tahoma, sans-serif;
}

#redes-Instagram{
    background-image: url('../img/redes/instagram.png');
}

#redes-WhatsApp{
    background-image: url('../img/redes/whatsapp.png');
}

#redes-Facebook{
    background-image: url('../img/redes/facebook.png');
}

.textos q {
    display: block;
    font-style: italic;
    font-size: 1.2em;
    color: #555; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 3px solid #ffb347; 
    background-color: #ecf0f1; 
    border-radius: 5px;
}

.icono-red-social {
    display: block;
    width: 50px; /* ajusta según sea necesario */
    height: 50px; /* ajusta según sea necesario */
    background-size: cover;
    background-repeat: no-repeat;
}

.volver-btn {
    border-radius: 5px;
    background-color: #ffb347;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
}

.mainGracias{
    text-align: center;
    margin: 5rem 1rem;
}

.agradecimiento{
    margin: 1rem;
}

body{
    background-image: url("../img/trama.jpg");
    background-repeat: repeat;
    background-position: center;
}

#NavSeleccionado {
    color: #ffb347;
}

.principal{
    max-width: 575px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

.navbar{
    background-color: #191919;
    padding: 1rem;
}

ul li{
    list-style: none;
    display: block;
    text-align: center;
    margin: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    font-size: 0;
}

.header-ciudades{
    width: 100%;
    height: 340px;
    background-image: url("../img/HEADER-ciudades.png");
    background-repeat: no-repeat;
    display: none;
    font-size: 0px;
}

.header-transporte{
    width: 100%;
    height: 340px;
    background-image: url("../img/HEADER-transporte.png");
    background-repeat: no-repeat;
    font-size: 0px;
    display: none;
}

.header-hospedaje{
    width: 100%;
    height: 340px;
    background-image: url("../img/HEADER-hospedaje.png");
    background-repeat: no-repeat;
    font-size: 0px;
    display: none;
}

.contenedor-banner{
    width: 100%;
    height: 340px;
    background-image: url("../img/HEADER-index.jpg");
    background-repeat: no-repeat;
    display: none;
}

.header-contacto{
    width: 100%;
    height: 340px;
    background-image: url("../img/HEADER-contacto.png");
    background-repeat: no-repeat;
    font-size: 0px;
    display: none;
}

img{
    width: 100%;
}

.contenedor-introduccion{
    display: flex;
    flex-direction: column;
}

.textos{
    padding: 1rem;
}

strong{
    color: #ffb347;
}

.titulos{
    text-align: center;
    padding: 1rem;
}

.contenedor-video{
    display: block;
    border-radius: 30px;
}

.video-youtube{
    width: 100%;
    height: 500px;
}

.contenedor-imagenes-mobile{ 
	margin: 0 auto; 
	width: 100%;
}

.contenedor-imagenes-desktop{
    display: none;
    
}

.tituloCaja{
    text-align: center;
}

.contenedor-dato{
    margin: 1rem 0rem;
}

ol{
    list-style: none;
}

.datos-utilidad {
    color: #ffff;
    background-color: #191919;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
 }

#ant{
	background: url(../img/carrousel-algunasImagenes/anterior.png);
	width: 42px;
	height: 82px;
	position: absolute;
	left: 50px;
	top: 350px;
	font-size: 0px;
	z-index:90;
}

#sig{
	background: url(../img/carrousel-algunasImagenes/siguiente.png);
	width: 42px;
	height: 82px;
	display: inline-block;
	position: absolute;
	right: 50px;
	top: 350px;
	font-size: 0px;
	z-index:90;
}

#fotos{ 
    margin:0 auto;
}

.carrouselPuntoInteres{
    text-align: center;
    margin: 0 auto;
 }

 .fotosPuntoInteres{ 
    margin:0 auto;
 }

 .textoFinal{
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}

.tituloFooter{
    text-align: center;
    color: white;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #191919;
    display: flex;
    flex-direction: column;
}

footer li {
    color: white;
}

footer li a{
    color: white;
    border-bottom: 0px;
}

.redes{
    display: inline-block;
}

.contenedorCiudades{
    width: 100%;
}

.bg-negro{
    background-color: #191919;
    color: white;
    margin: 1rem 0rem;
    border-radius: 5px;
}

.contenedor-imagenTransporte{
    padding: 1rem;
}

.border-image{
    border-radius: 5px;
}

.formularioContacto{
    margin: 1rem;
    background-color: #191919;
    color: #ffff;
    border-radius: 5px;
}

.inputForm{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.btnForm{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    text-align: center;
}

.btnForm:hover{
    background-color:#ffb347;
    border: 1px solid black;
    cursor: pointer;
}

form{
    margin-bottom: 20px;
}

form span{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    
}

.contenedor-input{
    margin: 1rem;
}

.botones{
    text-align: center;
    padding: 1rem;
}

#color{
    border-radius: 5px;
    width: 100%;
    min-height: 150px;
}

.contenedor-imagenDesktop{
    display: none;
}

#titulo-hospedajeDesktop{
    display: none;
}

#tituloImagenesHome{
    display: none;
}

@media screen and (min-width:576px) { 
    .principal{
        max-width: 900px;
    }

    ul li{
        display: inline-block;
    }

    .navbar{
        text-align: center;
    }

    .contenedor-datos{
        display: flex;
    }

    .datos-utilidad{
        width: calc(50% - 1rem);
    }

    
}

@media screen and (min-width:1280px) { 
    .principal{
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        background-color: white;
    }

    #tituloImagenesHome{
        display: block;
    }

    .contenedor-banner{ 
        display: block;
    }

    .header-ciudades{
        display: block;
    }

    .header-transporte{
        display: block;
    }

    .header-hospedaje{ 
        display: block;
    }

    .header-contacto{ 
        display: block;
    }

    ul li{
        display: inline-block;
    }

    .navbar{
        text-align: center;
    }

    a:hover{
        text-decoration: underline;
    }

    .contenedor-imagenes-mobile{ 
        display: none;
    }

    .contenedor-imagenes-desktop{
        display: block;
        position: relative; 
	    margin: 0 auto; 
	    max-width: 1280px;
     }

     .textoVideoCairo{
        display: inline-block;
        width: 50%;
        margin: 10px;
        text-align: right;
    }

    .contenedorCiudades{
        display: flex;
    }

    .contenedor-hospedaje{
        display: flex;
    }

    .contenedor-video{
        padding: 0.5rem;
        border-radius: 5px;
    }

    .video-desktop{
        width: calc(50% - 1rem);
    }

    .contenedorTexto{
        width: calc(50% - 1rem);
    }

    .contenedor-introduccion{
        display: flex;
        flex-direction: row;
    }

    footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .contenedor-transporte{
        display: flex;
    }

    .contenedor-imagenTransporte{
        width: calc(50% - 1rem);
    }

    .textos-dektop{
        width: calc(50% - 1rem);
    }

    .contenedor-formularioDesktop{
        display: flex;
    }

    .formularioContacto{
        width: calc(50% - 1rem);
    }

    .contenedor-imagenDesktop{
        display: flex;
        margin: 1rem;
        width: calc(50% - 1rem);
    }

    .contenedor-videoDesktop{
        display: flex;
        margin: 1rem;
        width: calc(50% - 1rem);
    }

    #titulo-hospedajeDesktop{
        display: block;
    }

    #titulo-hospedajeMobile{
        display: none;
    }

}
